@charset "UTF-8";

// 変数設定

$sp-full-width: 390;
$pc-full-width: 1920;
$pc-content-width: 1200;
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;
$production: 1;

// scss: ブレークポイント関数

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
    ) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

// scss: 変換関数群

@function vw($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $sp-full-width
	);
}

@function vwt($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $pc-content-width);
}

@function px2Rem($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px / 16) * 1rem;
}

@function vwp($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $pc-full-width);
}

// 基本設定

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: 0 auto;
	color: #575757;
	background-color: #f5f5dc;
	font-family: "Noto Sans JP", sans-serif;
	font-size: vw(16);
	font-weight: 400;
	line-height: normal;
	@include mq() {
		font-size: vwt(16);
	}
	@include mq(lg) {
		font-size: px2Rem(16);
	}
}

section {
	@include mq() {
		scroll-margin-top: vwt(100);
	}
	@include mq(lg) {
		scroll-margin-top: px2Rem(100);
	}

	scroll-margin-top: vw(100);
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	opacity: 0.8;
}

img {
	vertical-align: bottom;
}

li {
	list-style: none;
}

.sp-only {
	display: block;
	@include mq() {
		display: none;
	}
	@include mq(lg) {
		display: none;
	}
}

.pc-only {
	display: none;
	@include mq() {
		display: block;
	}
	@include mq(lg) {
		display: block;
	}
}

.line-break {
	display: inline-block;
}

// 共通設定

/* Header */

.header {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: vw(63);
	margin: 0 auto;
	padding-right: 0;
	padding-left: vw(16);
	background-color: #575757;
	@include mq() {
		height: vwt(114);
		padding-right: 0;
		padding-left: 0;
	}
	@include mq(lg) {
		height: px2Rem(114);
	}

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		margin: 0 auto;
		@include mq() {
			justify-content: space-between;
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__logo-img {
		align-items: center;
		width: vw(43);
		padding-top: vw(10);
		padding-bottom: vw(8);
		@include mq() {
			width: vwt(80);
			padding-top: vwt(5);
			padding-bottom: vwt(5);
		}
		@include mq(lg) {
			width: px2Rem(80);
			padding-top: px2Rem(5);
			padding-bottom: px2Rem(5);
		}
	}

	&__nav {
		position: absolute;
		top: vw(140);
		display: flex;
		visibility: hidden;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: vw(210);
		padding-right: vw(16);
		transition: opacity 0.5s linear;
		opacity: 0;
		@include mq() {
			position: static;
			top: 0;
			visibility: visible;
			justify-content: end;
			height: vwt(114);
			padding-right: 0;
			transform: initial;
			opacity: 1;

			gap: vwt(46);
		}
		@include mq(lg) {
			height: px2Rem(114);

			gap: px2Rem(46);
		}
	}

	&__nav-list {
		width: vw(368);
		padding: vw(16) vw(16) vw(30) vw(16);
		border-radius: vw(24);
		background-color: #575757;
		@include mq() {
			position: inherit;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;
			height: 0;
			margin: 0 auto;
			padding: 0;
			transform: translate(0, 0);

			column-gap: vwt(38);
		}
		@include mq(lg) {
			height: px2Rem(0);

			column-gap: px2Rem(38);
		}
	}

	&__nav-link {
		position: relative;
		display: block;
		width: 100%;
		padding-top: vw(8);
		padding-bottom: vw(8);
		text-align: center;
		text-decoration: none;
		color: #fff;
		font-size: vw(16);
		font-weight: 500;
		@include mq() {
			padding-top: vwt(10);
			padding-bottom: vwt(10);
			font-size: vwt(16);
		}
		@include mq(lg) {
			padding-top: px2Rem(10);
			padding-bottom: px2Rem(10);
			font-size: px2Rem(16);
		}
	}

	&__nav-link:hover {
		opacity: 1;
		color: #ffd065;
	}

	&__current {
		opacity: 1;
		color: #ffd065;
	}

	&__nav-contact-btn {
		display: block;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: vw(40);
		margin: auto;
		margin-top: vw(15);
		padding: vw(10);
		color: #575757;
		border-radius: vw(32);
		background-color: #fff;
		font-weight: 600;
		@include mq() {
			width: vwt(150);
			height: vwt(40);
			margin-top: 0;
			padding: vwt(10);
		}
		@include mq(lg) {
			width: px2Rem(150);
			height: px2Rem(40);
			padding: px2Rem(10);
		}
	}

	&__nav-contact-btn:hover {
		color: #ffd065;
		border: 1px solid #fff;
		background-color: #575757;
	}
}

.hamburger {
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	width: vw(70);
	height: vw(70);
	padding: vw(20) vw(16) vw(24) vw(30);
	@include mq() {
		display: none;
	}
}

.hamburger span {
	position: relative;
	display: block;
	height: vw(2);
	margin: 0;
	transition: opacity 0.5s linear;
	border-radius: vw(20);
	background-color: #fff;
}

.hamburger span:nth-child(1) {
	top: 0;
}

.hamburger span:nth-child(2) {
	margin: vw(6) 0;
}

.hamburger span:nth-child(3) {
	top: 0;
}

.header__nav.active {
	visibility: visible;
	opacity: 1;
	@include mq() {
		display: none;
	}
}

.hamburger.active span:nth-child(1) {
	top: vw(5);
	transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
	opacity: 0;
}

.hamburger.active span:nth-child(3) {
	top: vw(-11);
	transform: rotate(-45deg);
}

/* To top */

#back-to-top {
	position: sticky;
	z-index: 1;
	bottom: vw(16);
	display: flex;
	visibility: hidden;
	justify-content: flex-end;
	width: vw(20);
	height: vw(20);
	padding-left: calc(100% - vw(16));
	cursor: pointer;
	transition: opacity 0.3s, visibility 0.3s;
	text-align: center;
	opacity: 0;
	background: url(../image/to_top_orange.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
	@include mq() {
		bottom: vwt(16);
		width: vwt(30);
		max-width: vwt(1200);
		height: vwt(30);
		padding-left: calc(100% - vwt(16));
	}
	@include mq(lg) {
		bottom: px2Rem(16);
		width: px2Rem(30);
		max-width: px2Rem(1200);
		height: px2Rem(30);
		padding-left: 98%;
	}
}

#back-to-top.show {
	visibility: visible;
	opacity: 1;
}

.back-to-top__container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	@include mq() {
		max-width: vwt(1200);
	}
	@include mq(lg) {
		max-width: px2Rem(1200);
	}
}

/* Footer */

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: vw(50);
	margin: 0 auto;
	padding-right: vw(16);
	padding-left: vw(16);
	background-color: #575757;
	@include mq() {
		height: vwt(70);
		padding-right: vwt(16);
		padding-left: vwt(16);
	}
	@include mq(lg) {
		height: px2Rem(70);
		padding-right: px2Rem(16);
		padding-left: px2Rem(16);
	}

	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: vw(13);
		@include mq() {
			font-size: vwt(14);
		}
		@include mq(lg) {
			font-size: px2Rem(14);
		}
	}
}

/* View more */

.view-more {
	padding-top: vw(20);
	padding-bottom: vw(15);
	text-align: right;
	@include mq() {
		padding-top: vwt(20);
		padding-bottom: vwt(15);
	}
	@include mq(lg) {
		padding-top: px2Rem(20);
		padding-bottom: px2Rem(15);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		padding: vw(10) vw(80) vw(10) 0;
		letter-spacing: 0.11em;
		font-size: vw(16);
		font-weight: 500;
		@include mq() {
			padding: vwt(10) vwt(80) vwt(10) 0;
			font-size: vwt(15);
		}
		@include mq(lg) {
			padding: px2Rem(10) px2Rem(80) px2Rem(10) 0;
			font-size: px2Rem(15);
		}
	}

	&__link:hover::before {
		background-color: #ffd065;
	}

	&__link::before, &__link::after {
		position: absolute;
		top: 50%;
		right: 0;
		content: "";
		transform: translateY(-50%);
	}

	&__link::before {
		width: vw(51);
		height: vw(51);
		transition: 0.2s linear;
		border-radius: 50%;
		background-color: #d9d9d9;
		@include mq() {
			width: vwt(51);
			height: vwt(51);
		}
		@include mq(lg) {
			width: px2Rem(51);
			height: px2Rem(51);
		}
	}

	&__link::after {
		position: absolute;
		top: 50%;
		right: 0;
		width: vw(47);
		height: vw(2.28);
		content: "";
		transform: translateX(-50%);
		background-color: #575757;
		@include mq() {
			width: vwt(47);
			height: vwt(2.28);
		}
		@include mq(lg) {
			width: px2Rem(47);
			height: px2Rem(2.28);
		}
	}
}

/* Breadcrumb */

.breadcrumb {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding-top: vw(75);
	padding-right: vw(16);
	padding-left: vw(16);
	@include mq() {
		padding-top: vwt(135);
		padding-right: vwt(20);
		padding-left: vwt(20);
	}
	@include mq(lg) {
		padding-top: px2Rem(135);
		padding-right: px2Rem(20);
		padding-left: px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: flex-end;
		text-align: center;
		font-size: vw(14);
		@include mq() {
			font-size: vwt(15);

			gap: vwt(9);
		}
		@include mq(lg) {
			font-size: px2Rem(15);

			gap: px2Rem(9);
		}

		gap: vw(9);
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(5);
		padding-top: vw(5);
		@include mq() {
			width: vwt(5);
			padding-top: vwt(2);
		}
		@include mq(lg) {
			width: px2Rem(5);
			padding-top: px2Rem(2);
		}
	}

	&__link:hover {
		color: #ffd065;
	}
}

/* Pagination */

.pagination {
	display: flex;
	justify-content: center;

	&__page-numbers, .prev, .next {
		width: vw(40);
		height: vw(40);
		margin: vw(10);
		transition: 0.3s;
		text-align: center;
		text-decoration: none;
		color: #575757;
		background: #fff;
		font-size: vw(16);
		font-weight: 500;
		line-height: vw(40);
		@include mq() {
			width: vwt(40);
			height: vwt(40);
			margin: vwt(10);
			font-size: vwt(16);
			line-height: vwt(40);
		}
		@include mq(lg) {
			width: px2Rem(40);
			height: px2Rem(40);
			margin: px2Rem(10);
			font-size: px2Rem(16);
			line-height: px2Rem(40);
		}
	}

	a:hover {
		transform: rotate(360deg);
		background: #ffd065;
		@include mq() {
			border-radius: 100%;
		}
	}

	.current {
		background: #ffd065;
		@include mq() {
			border-radius: 100%;
		}
	}

	.dots {
		background: none;
	}
}

/* -------------------- Top -------------------- */

/* Main visual */

.main-visual {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding: vw(180) vw(16) vw(70) vw(16);
	background: linear-gradient(180deg, #fff, #f5f5dc);
	@include mq() {
		padding: vwt(240) vwt(20) vwt(120) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(240) px2Rem(20) px2Rem(120) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		width: 100%;
		margin-bottom: vw(24);
		color: #575757;
		font-size: vw(50);
		font-weight: 600;
		line-height: 1.2;
		@include mq() {
			margin-bottom: 0;
			font-size: vwt(60);
			line-height: 1.8;
		}
		@include mq(lg) {
			font-size: px2Rem(60);
		}
	}

	&__sub-title {
		width: 100%;
		margin-bottom: vw(25);
		color: #575757;
		font-size: vw(30);
		font-weight: 600;
		line-height: 1.5;
		@include mq() {
			width: 100%;
			margin-bottom: vwt(25);
			font-size: vwt(35);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(25);
			font-size: px2Rem(35);
		}
	}

	&__text {
		width: 100%;
		margin-bottom: vw(10);
		font-size: vw(18);
		font-weight: 500;
		line-height: 1.5;
		@include mq() {
			margin-bottom: vwt(10);
			font-size: vwt(18);
			line-height: 1.3;
		}
		@include mq(lg) {
			margin-bottom: px2Rem(10);
			font-size: px2Rem(18);
		}
	}
}

/* Works carousel */

.works-carousel {
	width: 100%;
	margin: 0 auto;
	padding: vw(30) vw(16) vw(20) vw(16);
	@include mq() {
		padding: vwt(40) vwt(20) vwt(30) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(40) px2Rem(20) px2Rem(30) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(60);
		text-align: center;
		font-size: vw(26);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(60);
			font-size: vwt(32);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(60);
			font-size: px2Rem(32);
		}
	}

	&__title:after {
		position: absolute;
		bottom: vw(-35);
		left: 50%;
		width: vw(2.2);
		height: vw(25);
		content: "";
		transform: translateX(-50%);
		background-color: #ffd065;
		@include mq() {
			bottom: vwt(-35);
			width: vwt(2.2);
			height: vwt(25);
		}
		@include mq(lg) {
			bottom: px2Rem(-35);
			width: px2Rem(2.2);
			height: px2Rem(25);
		}
	}
}

.swiper {
	position: relative;
	margin: 0 auto;
}

.swiper-slide {
	position: relative;
	height: auto;
	margin: auto;
	padding-bottom: vw(80);
	@include mq() {
		padding-bottom: vwt(80);
	}
	@include mq(lg) {
		padding-bottom: px2Rem(80);
	}

	&__box {
		display: block;
		height: vw(600);
		margin: auto;
		text-align: center;
		@include mq() {
			height: vwt(590);
		}
		@include mq(lg) {
			height: px2Rem(590);
		}
	}

	&__image {
		width: 100%;
		margin: 0 0 vw(10) 0;
		background-color: #fff;
		@include mq() {
			width: 94%;
			margin: 0 0 vwt(10) 0;

			filter: drop-shadow(vwt(3) vwt(3) vwt(3) #aaa);
		}
		@include mq(lg) {
			margin: 0 0 px2Rem(10) 0;

			filter: drop-shadow(px2Rem(3) px2Rem(3) px2Rem(3) #aaa);
		}

		filter: drop-shadow(vw(3) vw(3) vw(3) #aaa);
	}

	&__work-list {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	&__work-list-item {
		width: 43%;
		margin: vw(10);
		padding: vw(5);
		text-align: center;
		border-radius: vw(30);
		background-color: #fff;
		line-height: 1;
		@include mq() {
			width: 43%;
			margin: vwt(6);
			padding: vwt(5);
			border-radius: vwt(30);
		}
		@include mq(lg) {
			width: 43%;
			margin: px2Rem(6);
			padding: px2Rem(5);
			border-radius: px2Rem(30);
		}
	}

	.limited {
		color: #575757;
		border-radius: vw(4);
		background-color: #ffd065;
		@include mq() {
			border-radius: vwt(4);
		}
		@include mq(lg) {
			border-radius: px2Rem(4);
		}
	}

	.blinking {
		animation: blink 1s infinite alternate;
	}

	&__work-title {
		margin-top: vw(5);
		margin-bottom: vw(5);
		text-align: left;
		font-size: vw(16);
		font-weight: 600;
		line-height: 1.5;
		@include mq() {
			margin-top: vwt(8);
			margin-bottom: vwt(8);
			font-size: vwt(18);
		}
		@include mq(lg) {
			margin-top: px2Rem(8);
			margin-bottom: px2Rem(8);
			font-size: px2Rem(18);
		}
	}
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	position: absolute;
	bottom: vw(5);
	@include mq() {
		bottom: vwt(5);
	}
	@include mq(lg) {
		bottom: px2Rem(5);
	}
}

:root {
	--swiper-theme-color: #ffd065;
	// --swiper-pagination-bullet-inactive-color: #;
}

.swiper-pagination-bullet {
	width: vw(25);
	height: vw(25);
	color: #fff;
	@include mq() {
		width: vwt(30);
		height: vwt(30);
	}
	@include mq(lg) {
		width: px2Rem(30);
		height: px2Rem(30);
	}
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 vw(10);
	font-size: vw(16);
	@include mq() {
		margin: 0 vwt(15);
		font-size: vwt(18);
	}
	@include mq(lg) {
		margin: 0 px2Rem(15);
		font-size: px2Rem(18);
	}
}

.swiper-pagination-bullet-active {
	color: #575757;
}

/* Services */

.services {
	width: 100%;
	margin: 0 auto;
	padding: vw(30) vw(16) vw(20) vw(16);
	@include mq() {
		padding: vwt(40) vwt(20) vwt(50) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(40) px2Rem(20) px2Rem(50) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(100);
		text-align: center;
		font-size: vw(26);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(90);
			font-size: vwt(32);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(90);
			font-size: px2Rem(32);
		}
	}

	&__title:after {
		position: absolute;
		bottom: vw(-35);
		left: 50%;
		width: vw(2.2);
		height: vw(25);
		content: "";
		transform: translateX(-50%);
		background-color: #ffd065;
		@include mq() {
			bottom: vwt(-35);
			width: vwt(2.2);
			height: vwt(25);
		}
		@include mq(lg) {
			bottom: px2Rem(-35);
			width: px2Rem(2.2);
			height: px2Rem(25);
		}
	}

	&__list {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		@include mq() {
			flex-direction: row;

			column-gap: vwt(20);
		}
		@include mq(lg) {
			column-gap: px2Rem(20);
		}

		row-gap: vw(25);
	}

	&__list-item {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: auto;
		margin: auto;
		margin-bottom: vw(40);
		text-align: center;
		background-color: #fff;
		@include mq() {
			margin-bottom: 0;

			filter: drop-shadow(vwt(3) vwt(3) vwt(3) #aaa);
		}
		@include mq(lg) {
			filter: drop-shadow(px2Rem(3) px2Rem(3) px2Rem(3) #aaa);
		}

		filter: drop-shadow(vw(3) vw(3) vw(3) #aaa);
	}

	&__list-title {
		width: 100%;
		margin-left: 0;
		padding: vw(15);
		text-align: center;
		color: #fff;
		background-color: #575757;
		font-size: vw(16);
		font-weight: 600;
		line-height: 1.5;
		@include mq() {
			padding: vwt(15);
			font-size: vwt(16);
		}
		@include mq(lg) {
			padding: px2Rem(15);
			font-size: px2Rem(16);
		}
	}

	&__list-detail {
		width: 100%;
		height: vw(80);
		padding: vw(15);
		text-align: center;
		font-size: vw(16);
		line-height: 1.5;
		@include mq() {
			height: vwt(80);
			padding: vwt(15);
			font-size: vwt(16);
			line-height: 1.5;
		}
		@include mq(lg) {
			height: px2Rem(80);
			padding: px2Rem(15);
			font-size: px2Rem(16);
		}
	}

	&__service1 {
		position: relative;

		&::before {
			position: absolute;
			top: vw(-40);
			left: 50%;
			width: vw(50);
			height: vw(50);
			content: "";
			transform: translateX(-50%);
			background: url(../image/service_01.svg) no-repeat;
			background-size: contain;
			@include mq() {
				top: vwt(-40);
				width: vwt(50);
				height: vwt(50);
			}
			@include mq(lg) {
				top: px2Rem(-40);
				width: px2Rem(50);
				height: px2Rem(50);
			}
		}
	}

	&__service2 {
		position: relative;

		&::before {
			position: absolute;
			top: vw(-40);
			left: 50%;
			width: vw(50);
			height: vw(50);
			content: "";
			transform: translateX(-50%);
			background: url(../image/service_02.svg) no-repeat;
			background-size: contain;
			@include mq() {
				top: vwt(-40);
				width: vwt(50);
				height: vwt(50);
			}
			@include mq(lg) {
				top: px2Rem(-40);
				width: px2Rem(50);
				height: px2Rem(50);
			}
		}
	}

	&__service3 {
		position: relative;

		&::before {
			position: absolute;
			top: vw(-40);
			left: 50%;
			width: vw(50);
			height: vw(50);
			content: "";
			transform: translateX(-50%);
			background: url(../image/service_03.svg) no-repeat;
			background-size: contain;
			@include mq() {
				top: vwt(-40);
				width: vwt(50);
				height: vwt(50);
			}
			@include mq(lg) {
				top: px2Rem(-40);
				width: px2Rem(50);
				height: px2Rem(50);
			}
		}
	}

	&__service4 {
		position: relative;

		&::before {
			position: absolute;
			top: vw(-40);
			left: 50%;
			width: vw(50);
			height: vw(50);
			content: "";
			transform: translateX(-50%);
			background: url(../image/service_04.svg) no-repeat;
			background-size: contain;
			@include mq() {
				top: vwt(-40);
				width: vwt(50);
				height: vwt(50);
			}
			@include mq(lg) {
				top: px2Rem(-40);
				width: px2Rem(50);
				height: px2Rem(50);
			}
		}
	}
}

/* News latest */

.news-latest {
	width: 100%;
	margin: 0 auto;
	padding: vw(20) vw(16) vw(60) vw(16);
	@include mq() {
		padding: vwt(60) vwt(20) vwt(30) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(60) px2Rem(20) px2Rem(30) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-bottom: vwt(30);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-bottom: px2Rem(30);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(60);
		text-align: center;
		font-size: vw(26);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(60);
			font-size: vwt(32);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(60);
			font-size: px2Rem(32);
		}
	}

	&__title:after {
		position: absolute;
		bottom: vw(-35);
		left: 50%;
		width: vw(2.2);
		height: vw(25);
		content: "";
		transform: translateX(-50%);
		background-color: #ffd065;
		@include mq() {
			bottom: vwt(-35);
			width: vwt(2.2);
			height: vwt(25);
		}
		@include mq(lg) {
			bottom: px2Rem(-35);
			width: px2Rem(2.2);
			height: px2Rem(25);
		}
	}

	&__item-group {
		width: 100%;
		margin: auto;
		border-top: 1px solid #d9d9d9;
		line-height: 1.5;
		@include mq() {
			width: 70%;
			max-width: vwt(1200);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
		}
	}

	&__item {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		padding-top: vw(16);
		padding-right: vw(16);
		padding-bottom: vw(16);
		padding-left: vw(16);
		border-bottom: 1px solid #d9d9d9;
		@include mq() {
			align-items: center;
			flex-direction: row;
			justify-content: flex-start;
			padding-top: vwt(16);
			padding-right: vwt(20);
			padding-bottom: vwt(16);
			padding-left: vwt(20);
		}
		@include mq(lg) {
			padding-top: px2Rem(16);
			padding-right: px2Rem(20);
			padding-bottom: px2Rem(16);
			padding-left: px2Rem(20);
		}
	}

	&__item:not(:last-child) {
		padding-bottom: vw(10);
		@include mq() {
			padding-bottom: vwt(16);
		}
		@include mq(lg) {
			padding-bottom: px2Rem(16);
		}
	}

	&__item:last-child {
		padding-bottom: vw(10);
		@include mq() {
			padding-bottom: vwt(18);
		}
		@include mq(lg) {
			padding-bottom: px2Rem(18);
		}
	}

	&__news-title {
		display: inline-block;
		font-size: vw(15);
		font-weight: 700;
		line-height: 1.7;
		@include mq() {
			display: flex;
			align-items: flex-start;
			margin-left: vwt(25);
			font-size: vwt(15);
			line-height: 1;
		}
		@include mq(lg) {
			margin-left: px2Rem(25);
			font-size: px2Rem(15);
		}
	}

	&__date {
		margin-bottom: vw(8);
		font-size: vw(14.9);
		font-weight: 500;
		@include mq() {
			flex-shrink: 0;
			margin-bottom: 0;
			font-size: vwt(14);
		}
		@include mq(lg) {
			font-size: px2Rem(14);
		}
	}

	&__tag {
		display: inline-block;
		width: vw(120);
		min-height: vw(28);
		margin-left: vw(18);
		padding: vw(7) vw(10);
		text-align: center;
		color: #fff;
		border-radius: vw(5);
		background-color: #473221;
		font-size: vw(14);
		font-weight: 500;
		line-height: 1;
		@include mq() {
			width: vwt(120);
			min-height: vwt(28);
			margin-left: vwt(19);
			padding: vwt(7) vwt(10);
			border-radius: vwt(5);
			font-size: vwt(13);
		}
		@include mq(lg) {
			width: px2Rem(120);
			min-height: px2Rem(28);
			margin-left: px2Rem(19);
			padding: px2Rem(7) px2Rem(10);
			border-radius: px2Rem(5);
			font-size: px2Rem(13);
		}
	}

	.new {
		width: vw(70);
		color: #ffd065;
		@include mq() {
			width: vwt(70);
		}
		@include mq(lg) {
			width: px2Rem(70);
		}
	}

	.blinking {
		animation: blink 3s ease-in-out infinite alternate;
	}

	@keyframes blink {
		0% {
			color: #fff;
		}

		100% {
			color: #ffd065;
		}
	}

	&__news-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(200);
		height: vw(66);
		margin: auto;
		margin-top: vw(25);
		margin-bottom: vw(10);
		text-align: center;
		letter-spacing: 0.1em;
		color: #fff;
		border-radius: vw(33);
		background-color: #575757;
		font-size: vw(17);
		font-weight: 500;
		line-height: 1.3;
		@include mq() {
			width: vwt(200);
			height: vwt(66);
			margin-top: vwt(30);
			margin-bottom: vwt(10);
			border-radius: vwt(33);
			font-size: vwt(16.8);
			line-height: 1.3;
		}
		@include mq(lg) {
			width: px2Rem(200);
			height: px2Rem(66);
			margin-top: px2Rem(30);
			margin-bottom: px2Rem(10);
			border-radius: px2Rem(33);
			font-size: px2Rem(16.8);
		}
	}

	&__news-btn:hover {
		opacity: 1;
		color: #575757;
		border: 1px solid #575757;
		background-color: #fff;
	}
}

/* Profile */

.profile {
	width: 100%;
	margin: 0 auto;
	padding: vwt(30) 0 vwt(20) 0;
	@include mq() {
		padding: vwt(40) vwt(20) vwt(30) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(40) px2Rem(20) px2Rem(30) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(50);
		text-align: center;
		font-size: vw(26);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(50);
			font-size: vwt(32);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(50);
			font-size: px2Rem(32);
		}
	}

	&__title:after {
		position: absolute;
		bottom: vw(-35);
		left: 50%;
		width: vw(2.2);
		height: vw(25);
		content: "";
		transform: translateX(-50%);
		background-color: #ffd065;
		@include mq() {
			bottom: vwt(-35);
			width: vwt(2.2);
			height: vwt(25);
		}
		@include mq(lg) {
			bottom: px2Rem(-35);
			width: px2Rem(2.2);
			height: px2Rem(25);
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
		@include mq() {
			flex-direction: row;
			justify-content: flex-start;
			max-width: vwt(1200);
			height: auto;
			padding: 0;

			column-gap: vwt(60);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);

			column-gap: px2Rem(60);
		}
	}

	&__profile-text-box {
		width: 100%;
		padding: vw(16);
		@include mq() {
			width: 80%;
			padding: 0;
		}
	}

	&__profile-title {
		position: relative;
		margin: auto;
		margin-bottom: vw(15);
		text-align: center;
		font-size: vw(24);
		font-weight: 600;
		line-height: 1.6;
		@include mq() {
			margin-bottom: vwt(25);
			text-align: left;
			font-size: vwt(26);
			line-height: 1.7;
		}
		@include mq(lg) {
			margin-bottom: px2Rem(26);
			font-size: px2Rem(20);
		}
	}

	&__profile-text {
		margin: auto;
		text-align: justify;
		font-size: vw(16);
		line-height: 1.7;
		@include mq() {
			font-size: vwt(16);
			line-height: 1.8;
		}
		@include mq(lg) {
			font-size: px2Rem(16);
		}
	}

	&__profile-text:not(:last-child) {
		padding-bottom: vw(15);
		@include mq() {
			padding-bottom: vwt(15);
		}
		@include mq(lg) {
			padding-bottom: px2Rem(15);
		}
	}

	&__profile-image-box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: auto;
		padding: vw(10) vw(16) 0 vw(16);
		border-radius: 50%;
		@include mq() {
			justify-content: space-between;
			width: 20%;
			padding: 0;
		}
	}

	&__profile-image {
		max-width: vw(150);
		border: vw(10) solid #fff;
		border-radius: 50%;
		background: url(../image/tree_bark.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include mq() {
			max-width: vwt(230);
			border: vwt(10) solid #fff;

			filter: drop-shadow(vwt(3) vwt(3) vwt(3) #aaa);
		}
		@include mq(lg) {
			max-width: px2Rem(230);
			border: px2Rem(10) solid #fff;

			filter: drop-shadow(px2Rem(3) px2Rem(3) px2Rem(3) #aaa);
		}

		filter: drop-shadow(vw(3) vw(3) vw(3) #aaa);
	}
}

/* Contact */

.contact {
	width: 100%;
	margin: 0 auto;
	padding: vw(30) 0 vw(15) 0;
	@include mq() {
		padding: vwt(60) vwt(20) vwt(30) vwt(10);
	}
	@include mq(lg) {
		padding: px2Rem(60) px2Rem(20) px2Rem(30) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		padding-right: vw(16);
		padding-left: vw(16);
		text-align: center;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(40);
		text-align: center;
		font-size: vw(26);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(40);
			font-size: vwt(32);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(40);
			font-size: px2Rem(32);
		}
	}

	&__title:after {
		position: absolute;
		bottom: vw(-35);
		left: 50%;
		width: vw(2.2);
		height: vw(25);
		content: "";
		transform: translateX(-50%);
		background-color: #ffd065;
		@include mq() {
			bottom: vwt(-35);
			width: vwt(2.2);
			height: vwt(25);
		}
		@include mq(lg) {
			bottom: px2Rem(-35);
			width: px2Rem(2.2);
			height: px2Rem(25);
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
		@include mq() {
			flex-direction: row;
			justify-content: flex-start;
			max-width: vwt(1200);
			height: auto;
			padding: 0;

			column-gap: vwt(60);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);

			column-gap: px2Rem(60);
		}
	}
}

// Form
.form {
	width: 100%;
	margin: 0 auto;
	@include mq() {
		width: 70%;
	}
	@include mq(lg) {
	}
}


.form__label {
	margin-bottom: vw(10);
	margin-left: 0;
	text-align: left;
	@include mq() {
		margin-bottom: vwt(10);
	}
	@include mq(lg) {
		margin-bottom: px2Rem(10);
	}
}

.form__required {
	display: block;
	margin-top: vw(15);
	margin-bottom: vw(5);
	text-align: left;
	font-size: vw(16);
	font-weight: 600;
	@include mq() {
		margin-top: vwt(15);
		margin-bottom: vwt(5);
		font-size: vwt(16);
	}
	@include mq(lg) {
		margin-top: px2Rem(15);
		margin-bottom: px2Rem(5);
		font-size: px2Rem(16);
	}
}

.form__optional {
	display: block;
	margin-top: vw(15);
	text-align: left;
	font-size: vw(16);
	font-weight: 600;
	@include mq() {
		margin-top: vwt(15);
		font-size: vwt(16);
	}
	@include mq(lg) {
		margin-top: px2Rem(15);
		font-size: px2Rem(16);
	}
}

.form__input-wrapper {
	width: 100%;
	margin-top: vw(5);
	text-align: left;
	@include mq() {
		margin-top: vwt(5);
	}
	@include mq(lg) {
		margin-top: px2Rem(5);
	}
}

input[type="text"], input[type="tel"], input[type="email"], input[type="email2"], input[type="company"], input[type="department"], textarea {
	width: 100%;
	padding: vw(10) vw(15);
	transition: 0.1s;
	color: #575757;
	border: none;
	outline: solid 1px #575757;
	background-color: #eeeeee;
	font-size: vw(15);
	@include mq() {
		padding: vwt(10) vwt(15);
		font-size: vwt(16);
	}
	@include mq(lg) {
		padding: px2Rem(10) px2Rem(15);
		font-size: px2Rem(16);
	}
}

input[type="text"], input[type="tel"], input[type="email"], input[type="email2"], input[type="company"], input[type="department"], textarea {
	&:focus {
		color: #575757;
		border-radius: vw(5);
		outline: solid 1px #575757;
		background-color: beige;
		@include mq() {
			border-radius: vwt(5);
		}
		@include mq(lg) {
			border-radius: px2Rem(5);
		}
	}
}

.asterisk {
	color: #ffcc00;
}

textarea {
	padding: vw(10) vw(15);
	@include mq() {
		padding: vwt(10) vwt(15);
	}
	@include mq(lg) {
		padding: px2Rem(10) px2Rem(15);
	}
}

.form__privacy-box {
	overflow-x: hidden;
	overflow-y: scroll;
	max-width: 100%;
	height: vw(200);
	margin-top: vw(5);
	margin-bottom: vw(10);
	padding: vw(10) vw(15);
	text-align: left;
	text-align: left;
	color: rgba(87, 87, 87, 0.9);
	border: solid 1px #575757;
	background-color: #fff;
	font-size: vw(15);
	@include mq() {
		height: vwt(200);
		margin-top: vwt(5);
		margin-bottom: vwt(10);
		padding: vwt(15) vwt(25);
		font-size: vwt(16);
	}
	@include mq(lg) {
		height: px2Rem(200);
		margin-top: px2Rem(5);
		margin-bottom: px2Rem(10);
		padding: px2Rem(15) px2Rem(25);
		font-size: px2Rem(16);
	}
}

.form__privacy-text {
	padding-bottom: vw(10);
	@include mq() {
		padding-bottom: vwt(10);
	}
	@include mq(lg) {
		padding-bottom: px2Rem(10);
	}
}

input[type="submit"] {
	display: inline-block;
	width: 100%;
	max-width: vw(300);
	margin-top: vw(20);
	margin-bottom: vw(30);
	padding: vw(12) vw(10);
	transition: 0.2s linear;
	text-align: center;
	color: #fff;
	border: 1px solid #575757;
	border-radius: vw(40);
	background-image: linear-gradient(to right, #575757 0%, #575757 50%, #fff 50%, #fff 100%);
	background-size: 200%;
	font-size: vw(15);
	font-weight: 600;
	@include mq() {
		max-width: vwt(300);
		margin-top: vwt(30);
		margin-bottom: vwt(30);
		padding: vwt(12) vwt(10);
		font-size: vwt(15);
	}
	@include mq(lg) {
		max-width: px2Rem(300);
		margin-top: px2Rem(30);
		margin-bottom: px2Rem(30);
		padding: px2Rem(12) px2Rem(10);
		font-size: px2Rem(15);
	}
}

input[type="submit"]:hover {
	opacity: 1;
	color: #575757;
	background-position: right;
}

// ローダーの配置を変更（送信ボタンを中央に配置）
span.wpcf7-spinner {
	display: none;
}

// Contact Form 7が追加する余計なスタイルをリセット
.wpcf7-form-control, .wpcf7-form {
	margin: 0;
	padding: 0;
}

.wpcf7-form-control-wrap {
	margin: 0;
	padding: 0;
}

.form__label br {
	display: none;
}

.grecaptcha-badge {
	visibility: hidden;
}

textarea#inquiry.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.inquiry {
	padding: vw(10) vw(15);
	@include mq() {
		padding: vwt(10) vwt(15);
	}
	@include mq(lg) {
		padding: px2Rem(10) px2Rem(15);
	}
}

/* -------------------- 404-------------------- */

/* 404 */

.error {
	width: 100%;
	margin: 0 auto;
	padding: vw(40) vw(16) vw(20) vw(16);
	@include mq() {
		padding: vwt(40) vwt(20) 0 vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(40) px2Rem(20) 0 px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(60);
		text-align: center;
		font-size: vw(26);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(60);
			font-size: vwt(32);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(60);
			font-size: px2Rem(32);
		}
	}

	&__title:after {
		position: absolute;
		bottom: vw(-35);
		left: 50%;
		width: vw(2.2);
		height: vw(25);
		content: "";
		transform: translateX(-50%);
		background-color: #ffd065;
		@include mq() {
			bottom: vwt(-35);
			width: vwt(2.2);
			height: vwt(25);
		}
		@include mq(lg) {
			bottom: px2Rem(-35);
			width: px2Rem(2.2);
			height: px2Rem(25);
		}
	}

	&__text {
		margin-top: vw(5);
		margin-bottom: vw(20);
		text-align: center;
		font-size: vw(16);
		@include mq() {
			margin-top: vwt(8);
			margin-bottom: vwt(20);
			font-size: vwt(18);
		}
		@include mq(lg) {
			margin-top: px2Rem(8);
			margin-bottom: px2Rem(20);
			font-size: px2Rem(18);
		}
	}
}

/* -------------------- Works -------------------- */

/* Works */

.works {
	width: 100%;
	margin: 0 auto;
	padding: vw(40) vw(16) vw(20) vw(16);
	@include mq() {
		padding: vwt(40) vwt(20) vwt(30) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(40) px2Rem(20) px2Rem(30) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(60);
		text-align: center;
		font-size: vw(26);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(60);
			font-size: vwt(32);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(60);
			font-size: px2Rem(32);
		}
	}

	&__title:after {
		position: absolute;
		bottom: vw(-35);
		left: 50%;
		width: vw(2.2);
		height: vw(25);
		content: "";
		transform: translateX(-50%);
		background-color: #ffd065;
		@include mq() {
			bottom: vwt(-35);
			width: vwt(2.2);
			height: vwt(25);
		}
		@include mq(lg) {
			bottom: px2Rem(-35);
			width: px2Rem(2.2);
			height: px2Rem(25);
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: auto;
		margin-bottom: vw(20);
		@include mq() {
			margin-bottom: vwt(30);

			gap: vwt(15);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(30);

			gap: px2Rem(15);
		}

		gap: vw(15);
	}

	&__nav-item {
		width: 47%;
		padding: vw(5) vw(15);
		transition: 0.3s;
		text-align: center;
		color: #575757;
		border-radius: vw(5);
		background-color: #d9d9d9;
		font-size: vw(15);
		font-weight: 500;
		@include mq() {
			width: 23%;
			padding: vwt(5) vwt(15);
			border-radius: vwt(5);
			font-size: vwt(15);
		}
		@include mq(lg) {
			padding: px2Rem(5) px2Rem(15);
			border-radius: px2Rem(5);
			font-size: px2Rem(15);
		}
	}

	&__nav-item:not(:first-child) {
		margin-left: vwt(5);
		@include mq() {
			margin-left: vwt(5);
		}
		@include mq(lg) {
			margin-left: px2Rem(5);
		}
	}

	&__nav-link {
		display: block;
	}

	&__nav-item:hover {
		color: #575757;
		background-color: #ffd065;
	}

	&__current {
		color: #575757;
		background-color: #ffd065;
	}

	&__display {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: auto;
		margin: auto;
		@include mq() {
			display: flex;
			align-items: flex-start;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			column-gap: vwt(40);
			row-gap: vwt(60);
		}
		@include mq(lg) {
			column-gap: px2Rem(40);
			row-gap: px2Rem(60);
		}
	}

	&__box {
		width: 100%;
		height: vw(635);
		margin: auto;
		margin-bottom: vw(40);
		padding: vw(15);
		background: #fff;
		@include mq() {
			width: calc((100% - vwt(80)) / 3);
			height: vwt(640);
			margin-bottom: vwt(40);
			padding: vwt(15);

			filter: drop-shadow(vwt(3) vwt(3) vwt(3) #aaa);
		}
		@include mq(lg) {
			width: calc((100% - px2Rem(80)) / 3);
			height: px2Rem(640);
			margin-bottom: px2Rem(40);
			padding: px2Rem(15);

			filter: drop-shadow(px2Rem(3) px2Rem(3) px2Rem(3) #aaa);
		}

		filter: drop-shadow(vw(3) vw(3) vw(3) #aaa);
	}

	&__link {
		display: block;
	}

	&__image {
		width: 100%;
		margin: 0 0 vw(10) 0;
		@include mq() {
			margin: 0 0 vwt(10) 0;
		}
		@include mq(lg) {
			margin: 0 0 px2Rem(10) 0;
		}
	}

	&__list {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		@include mq() {
			justify-content: space-between;
		}
	}

	&__list-item {
		width: 44%;
		margin: vw(6);
		padding: vw(6);
		text-align: center;
		border-radius: vw(30);
		background-color: #d9d9d9;
		font-weight: 500;
		line-height: 1;
		@include mq() {
			width: 44%;
			margin: vwt(6);
			padding: vwt(6);
			border-radius: vwt(30);
		}
		@include mq(lg) {
			margin: px2Rem(6);
			padding: px2Rem(6);
			border-radius: px2Rem(30);
		}
	}

	.limited {
		color: #575757;
		border-radius: vw(4);
		background-color: #ffd065;
		@include mq() {
			border-radius: vwt(4);
		}
		@include mq(lg) {
			border-radius: px2Rem(4);
		}
	}

	.new {
		color: #ffd065;
		border-radius: vw(4);
		background-color: #575757;
		@include mq() {
			border-radius: vwt(4);
		}
		@include mq(lg) {
			border-radius: px2Rem(4);
		}
	}

	.blinking {
		animation: blink 1s infinite alternate;
	}

	&__list-title {
		margin-top: vw(5);
		margin-bottom: vw(10);
		text-align: center;
		font-size: vw(16);
		font-weight: 600;
		line-height: 1.5;
		@include mq() {
			margin-top: vwt(8);
			margin-bottom: vwt(10);
			text-align: left;
			font-size: vwt(16);
		}
		@include mq(lg) {
			margin-top: px2Rem(8);
			margin-bottom: px2Rem(10);
			font-size: px2Rem(16);
		}
	}

	&__see-more {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		margin-top: vw(5);
		text-align: center;
		font-size: vw(14);
		@include mq() {
			justify-content: flex-end;
			margin-top: vwt(5);
			font-size: vwt(15);

			gap: vwt(9);
		}
		@include mq(lg) {
			margin-top: px2Rem(5);
			font-size: px2Rem(15);

			gap: px2Rem(9);
		}

		gap: vw(9);
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(5);
		padding-top: vw(5);
		@include mq() {
			width: vwt(5);
			padding-top: vwt(2);
		}
		@include mq(lg) {
			width: px2Rem(5);
			padding-top: px2Rem(2);
		}
	}
}


.filter-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: vw(15);
	@include mq() {
		margin: vwt(5);
		margin-bottom: vwt(15);
		padding: vwt(10);
		border-radius: vwt(4);

		gap: vwt(10);
	}
	@include mq(lg) {
		margin: px2Rem(5);
		margin-bottom: px2Rem(15);
		padding: px2Rem(10);
		border-radius: px2Rem(4);

		gap: px2Rem(10);
	}

	gap: vw(10);
}

.filter-list .nav-item {
	width: 48%;
	padding: vw(10);
	cursor: pointer;
	transition: all 0.3s;
	text-align: center;
	border-radius: vw(4);
	background: #d9d9d9;
	font-weight: 600;
	@include mq() {
		width: 23%;
		margin: vwt(5);
		padding: vwt(10);
		border-radius: vwt(4);
	}
	@include mq(lg) {
		margin: px2Rem(5);
		padding: px2Rem(10);
		border-radius: px2Rem(4);
	}
}

.filter-list .nav-item.is-active {
	background: #ffd065;
}

.filter-item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filter-item .works__box {
	width: 100%;
	padding: vw(40) vw(20);
	@include mq() {
		width: 30%;
		padding: vwt(40) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(40) px2Rem(20);
	}
}

/* -------------------- Work details-------------------- */

/* Work-details */

.work-details {
	width: 100%;
	margin: 0 auto;
	padding: vw(50) vw(16) vw(20) vw(16);
	@include mq() {
		padding: vwt(50) vwt(20) vwt(30) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(50) px2Rem(20) px2Rem(30) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(60);
		text-align: center;
		font-size: vw(26);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(60);
			font-size: vwt(32);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(60);
			font-size: px2Rem(32);
		}
	}

	&__title:after {
		position: absolute;
		bottom: vw(-35);
		left: 50%;
		width: vw(2.2);
		height: vw(25);
		content: "";
		transform: translateX(-50%);
		background-color: #ffd065;
		@include mq() {
			bottom: vwt(-35);
			width: vwt(2.2);
			height: vwt(25);
		}
		@include mq(lg) {
			bottom: px2Rem(-35);
			width: px2Rem(2.2);
			height: px2Rem(25);
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		margin: auto;
		margin-bottom: vw(30);
		@include mq() {
			margin-bottom: vwt(30);

			gap: vwt(15);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(30);

			gap: px2Rem(15);
		}

		gap: vw(15);
	}

	&__nav-item {
		width: vw(90);
		padding: vw(5) vw(15);
		transition: 0.3s;
		text-align: center;
		color: #575757;
		border-radius: vw(5);
		background-color: #d9d9d9;
		font-size: vw(15);
		font-weight: 500;
		@include mq() {
			width: vwt(90);
			padding: vwt(5) vwt(15);
			border-radius: vwt(5);
			font-size: vwt(15);
		}
		@include mq(lg) {
			width: px2Rem(90);
			padding: px2Rem(5) px2Rem(15);
			border-radius: px2Rem(5);
			font-size: px2Rem(15);
		}
	}

	&__nav-item:not(:first-child) {
		margin-left: vwt(5);
		@include mq() {
			margin-left: vwt(5);
		}
		@include mq(lg) {
			margin-left: px2Rem(5);
		}
	}

	&__nav-link {
		display: block;
	}

	&__nav-item:hover {
		color: #575757;
		background-color: #ffd065;
	}

	&__current {
		color: #575757;
		background-color: #ffd065;
	}

	&__box {
		display: flex;
		display: block;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		margin: auto;
		margin: auto;
		margin-bottom: vw(30);
		padding: vw(15);
		background: #fff;
		@include mq() {
			max-width: vwt(1200);
			margin-bottom: vwt(30);
			padding: vwt(20);

			filter: drop-shadow(vwt(3) vwt(3) vwt(3) #aaa);
			;
		}
		@include mq(lg) {
			margin-bottom: px2Rem(30);
			padding: px2Rem(20);

			filter: drop-shadow(px2Rem(3) px2Rem(3) px2Rem(3) #aaa);
		}

		filter: drop-shadow(vw(3) vw(3) vw(3) #aaa);
	}

	&__list-title {
		margin-bottom: vw(20);
		text-align: center;
		font-size: vw(18);
		font-weight: 600;
		line-height: 1.5;
		@include mq() {
			margin-bottom: vwt(25);
			font-size: vwt(26);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(25);
			font-size: px2Rem(26);
		}
	}

	&__image-box {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		margin: auto;
		margin: 0 0 vw(10) 0;
		@include mq() {
			margin: 0 0 vwt(10) 0;

			gap: vwt(15);
		}
		@include mq(lg) {
			margin: 0 0 px2Rem(10) 0;

			gap: px2Rem(15);
		}

		gap: vw(15);
	}

	&__image {
		width: 45%;
		margin: auto;
		margin-bottom: vw(5);
		@include mq() {
			margin-bottom: vwt(5);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(5);
		}

		object-fit: contain;
	}

	&__list {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		margin-top: vw(5);
		margin-bottom: vw(5);
		@include mq() {
			margin-top: vwt(10);
			margin-bottom: vwt(10);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(10);
			margin-bottom: px2Rem(10);
		}
	}

	&__list-item {
		width: calc((100% - vw(40)) / 2);
		margin: vw(6);
		padding: vw(6);
		text-align: center;
		border-radius: vw(30);
		background-color: #d9d9d9;
		font-weight: 500;
		line-height: 1;
		@include mq() {
			width: calc((100% - vwt(75)) / 6);
			margin: vwt(6);
			padding: vwt(6);
			border-radius: vwt(30);
		}
		@include mq(lg) {
			width: calc((100% - px2Rem(75)) / 6);
			margin: px2Rem(6);
			padding: px2Rem(6);
			border-radius: px2Rem(30);
		}
	}

	.limited {
		width: calc((100% - vw(40)) / 2);
		margin-bottom: vw(10);
		color: #575757;
		border-radius: vw(4);
		background-color: #ffd065;
		@include mq() {
			width: calc((100% - vwt(75)) / 6);
			margin-bottom: vwt(10);
			border-radius: vwt(4);
		}
		@include mq(lg) {
			width: calc((100% - px2Rem(75)) / 6);
			margin-bottom: px2Rem(10);
			border-radius: px2Rem(4);
		}
	}

	.new {
		width: calc((100% - vw(40)) / 2);
		color: #ffd065;
		border-radius: vw(4);
		background-color: #575757;
		@include mq() {
			width: calc((100% - vwt(75)) / 6);
			border-radius: vwt(4);
		}
		@include mq(lg) {
			width: calc((100% - px2Rem(75)) / 6);
			border-radius: px2Rem(4);
		}
	}

	.blinking {
		animation: blink 1s infinite alternate;
	}

	&__box-description {
		margin: auto;
		padding: 0 vw(10) vw(10) vw(10);
		@include mq() {
			padding: 0 vwt(10) vwt(10) vwt(10);
		}
		@include mq(lg) {
			padding: 0 vwt(10) px2Rem(10) px2Rem(10);
		}
	}

	&__description {
		@include mq() {
			display: flex;
			align-items: flex-start;
			flex-direction: row;
			justify-content: flex-start;
		}
		@include mq(lg) {
		}
	}

	&__description-title {
		margin-top: vw(15);
		margin-right: vw(8);
		margin-bottom: vw(10);
		text-align: center;
		font-weight: 600;
		line-height: 1.5;
		@include mq() {
			width: 15%;
			margin-top: vwt(10);
			margin-right: vwt(8);
			margin-bottom: vwt(5);
			text-align: left;
		}
		@include mq(lg) {
			margin-top: px2Rem(10);
			margin-right: px2Rem(8);
			margin-bottom: px2Rem(5);
		}
	}

	&__description-text {
		text-align: left;
		@include mq() {
			width: 85%;
			margin-top: vwt(10);
			margin-right: vwt(8);
			margin-bottom: vwt(5);
			line-height: 1.5;
		}
		@include mq(lg) {
			margin-top: px2Rem(10);
			margin-right: px2Rem(8);
			margin-bottom: px2Rem(5);
		}
	}

	&__description-list {
		padding-left: vw(20);
		@include mq() {
			width: 85%;
			padding-left: vwt(20);
		}
		@include mq(lg) {
			padding-left: px2Rem(20);
		}
	}


	&__description-list-item {
		padding-bottom: vw(5);
		list-style-position: outside;
		list-style-type: disc;
		@include mq() {
			margin-top: vwt(10);
			margin-right: vwt(8);
			padding-bottom: 0;
		}
		@include mq(lg) {
			margin-top: px2Rem(10);
			margin-right: px2Rem(8);
		}
	}

	&__description-list-item:last-child {
		padding-bottom: vw(15);
		@include mq() {
			padding-bottom: vwt(15);
		}
		@include mq(lg) {
			padding-bottom: px2Rem(15);
		}
	}

	&__description-list-item--remark {
		padding-bottom: vw(10);
		list-style-type: none;
		color: #ffcc00;
		@include mq() {
			margin-top: vwt(10);
			margin-right: vwt(8);
			padding-bottom: vwt(5);
		}
		@include mq(lg) {
			margin-top: px2Rem(10);
			margin-right: px2Rem(8);
			padding-bottom: px2Rem(5);
		}
	}

	&__remark {
		color: #ffcc00;
		font-size: vw(16);
		font-weight: 500;
		@include mq() {
			font-size: vwt(16);
		}
		@include mq(lg) {
			font-size: px2Rem(16);
		}
	}
}

/* -------------------- News -------------------- */

/* -------------------- News detail -------------------- */